.menu{
    padding: 0vh 3vh;
    padding-top: 1vh;
    cursor: pointer;
    transition: transform .25s ease-in-out;
    z-index: 2;
    height: 4vh;
}
header{
    background-color: rgb(255, 173, 176);
    height: 3vh;
}
h2{
    text-align: center;
    font-size:10vh;
    font-family: "Baumans", system-ui;
    padding:0;
    margin:0;
    padding-top: 3vh;
}
.cabeza p{
    padding-top: 0;
    padding-bottom: 3vh;
    font-family: "Baumans", system-ui;
}
.imagen{
    max-height: 10vh;
}
p{
    font-family: "Libre Franklin", sans-serif;
    text-align: center;
    margin:0
}
.listaJ{
    /*transition: transform .35s ease-in-out;*/
    display: flex;
    gap: 2vh;
    z-index: 1;
    padding: 0vh 2vh;
    padding-bottom: 2vh;
    display: none;
}
.juegosAmiibo{
    display: flex;
    gap: 2vh;
    z-index: 1;
    padding: 0vh 2vh;
    padding-bottom: 2vh;
    display: none;
}
body{
    background-color: rgb(255, 173, 176);
    background-image: url(img/thumb-1920-1374972.jpg);
    padding: 0vh 13vh;
    margin:0;
    padding-bottom: 4vh;
}
.saga{
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    background-color: rgb(255, 255, 255) ;
    border-radius: 50px;
    border-color: rgb(121, 121, 121);
    /*border-style: solid;*/
    height: 5vh;
    color:rgb(121, 121, 121);
    padding-left: 2vh;
    padding-right: 2vh;
    cursor: pointer;
}
.busca{
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    color:white;
    background-color:rgb(57, 149, 70) ;
    border-radius: 50px;
    border-color: rgb(40, 196, 60);
    /*border-style: solid;*/
    height: 5vh;
    
    padding-left: 2vh;
    padding-right: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
    margin-right: 100%;
}
article{
    background-color: rgb(255, 255, 255);
    min-height: 50vh;
    border-radius: 5vh;
    padding: 3vh 3vh;
    border-style: solid;
    border-color: rgb(255, 173, 176);
    border-width: 0.5vh;

}
.amiibos{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ejemplo{
    min-height: 3vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width:90%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 173, 176);
    border-radius: 50px;
    border-width: 0.5vh;
    margin-top: 3vh;
    padding: 2vh 5vh;
}
.flecha{
    cursor:pointer
}
.flecha.activo{
    rotate: 180deg;
}

/*Funciones que usa jQuery*/
.select{
    border-color: rgb(165, 42, 128);
    color:rgb(165, 42, 128);
    background-color: rgba(204, 50, 171, 0.363);
    
}
.activo{
    
    display: block;
}
.categoria.activo{
    background-color: beige;
}
@media (max-width: 820px) {
  body{
    padding: 0vh 2vh;
  }
  .ejemplo{
    width: 70%;
  }
}